################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FrutiBom/.vs/FrutiBom/v16/Server/sqlite3/storage.ide-wal
/FrutiBom/.vs/FrutiBom/v16/Server/sqlite3/storage.ide-shm
/FrutiBom/.vs/FrutiBom/v16/Server/sqlite3/storage.ide
/FrutiBom/.vs/FrutiBom/v16/Server/sqlite3/db.lock
/FrutiBom/.vs/FrutiBom/v16/.suo
/FrutiBom/.vs/FrutiBom/DesignTimeBuild/.dtbcache
